/* CSS styles for Keep the Apostrophe in Irish Names */
h1 { font-size: 2.4rem; padding-top: 3rem; }
h4 { font-size: 1.3rem; }
p { margin-bottom: 1.7rem; }

.print1 { padding-top: 4rem; }

.print2 { padding-top: 2rem; }

.print3 { padding-top: 3rem; }